/* *************/
/* Font Import */
/* *************/

@font-face {
    font-family: Haken-Grotesk;
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}

@font-face {
    font-family: Haken-Grotesk;
    font-weight: bold;
    src: url('assets/fonts/static/HankenGrotesk-Bold.ttf');
}

@font-face {
    font-family: Haken-Grotesk;
    font-weight: bolder;
    src: url('assets/fonts/static/HankenGrotesk-ExtraBold.ttf');
}

@font-face {
    font-family: Haken-Grotesk;
    font-weight: normal;
    src: url('assets/fonts/static/HankenGrotesk-Medium.ttf');
}

/* ********* */
/* Variables */
/* ********* */

:root {
    /* Primary */
    --light_red: hsl(0, 100%, 67%);
    --orangey_yellow: hsl(39, 100%, 56%);
    --green_teal: hsl(166, 100%, 37%);
    --cobalt_blue: hsl(234, 85%, 45%);

    /* Transparancies for Primaries */
    --light_red_a: hsla(0, 100%, 67%, 7%);
    --orangey_yellow_a: hsla(39, 100%, 56%, 7%);
    --green_teal_a: hsla(166, 100%, 37%, 7%);
    --cobalt_blue_a: hsla(234, 85%, 45%, 7%);

    /* Gradients */
    --light_slate_blue_bg: hsl(252, 100%, 67%);
    --light_royal_blue_bg: hsl(241, 81%, 54%);
    --violet_blue_circle: hsla(256, 72%, 46%, 1);
    --persian_blue_circle: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --pale_blue: hsl(221, 100%, 96%);
    --light_lavender: hsl(241, 100%, 89%);
    --light_gray: hsl(212, 45%, 89%);
    --dark_gray_blue: hsl(224, 30%, 27%);

    /* Container Styles */
    --default-border-radius: 30px;
}

/* *********** */
/* Text Styles */
/* *********** */

.bold {
    font-weight: bold;
}

.light-lavender {
    color: var(--light_lavender);
}

.white {
    color: var(--white);
}

.black {
    color: var(--black);
}

.black-a{
    color: hsla(0, 0%, 0%, .4);
}

/* ********************* */
/* Main container styles */
/* ********************* */

body {
    background-color: var(--white);
    font-family: Haken-Grotesk;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    min-height: 98vh;

    /* For centering the results box */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.sections-sizing {
    width: 50%;
    padding: 18px 40px 18px 40px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

.results-box {
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--white);
    width: 100%;
    max-width: 735px;
    min-width: 285px;
    height: 512px;
    box-shadow: 0px 8px 25px 10px var(--pale_blue);
    border-radius: var(--default-border-radius);
    
    /* Animation keyframes */
    position: relative;
    opacity: 0;
    animation: slideUpAndFade ease-in .4s;
    animation-fill-mode: forwards;
}

.overall-box {
    background-image: linear-gradient(var(--light_slate_blue_bg), var(--light_royal_blue_bg));
    border-radius: var(--default-border-radius);
    text-align: center;
}

.overall-circle {
    padding: 30px;
    width: 150px;
    height: 150px;
    background-image: linear-gradient(var(--violet_blue_circle), var(--persian_blue_circle));
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
}

.total-big {
    font-size: 70px;
    font-weight: bold;
    color: var(--white);
    margin: 0px;
}

.total-small {
    position: relative;
    bottom: 10px;
    color: var(--light_lavender);
    opacity: 50%;
    margin: 0px;
}

.results-text {
    margin: 0 20px 20px 20px;    
}

.summary-box {
    align-items: start;
}

.type-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    width: 100%;
}

.type-label {
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
}

.type-label img {
    margin: 15px;
}

.type-result {
    margin-right: 15px;
}

.reaction {
    color: var(--light_red);
    background-color: var(--light_red_a);
}

.memory {
    color: var(--orangey_yellow);
    background-color: var(--orangey_yellow_a);
}

.verbal {
    color: var(--green_teal);
    background-color: var(--green_teal_a);
}

.visual {
    color: var(--cobalt_blue);
    background-color: var(--cobalt_blue_a);
}

.continue-button {
    margin: 25px 0 2px 0;
    height: 55px;
    margin: 10px 0 10px 0;
    text-align: center;
    width: 100%;
    border-radius: 30px;
    background-color: var(--dark_gray_blue);
    cursor: pointer;
}

.continue-button:active {
    background-image: linear-gradient(var(--light_slate_blue_bg), var(--light_royal_blue_bg));
}

/* ************* */
/* Footer Styles */
/* ************* */

footer {
    text-align: center;
    position: fixed;
    bottom: 5px;   
}

.attribution {
    width: 100%;
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* ************************** */
/* Responsive for Mobile View */
/* ************************** */

@media screen and (max-width: 575px) {
    body {
        justify-content: start;
    }

    .results-box {
        flex-flow: column nowrap;
        max-width: 100%;
        height: 100%;
        box-shadow: none;
        position: relative;
        opacity: 0;
        animation: fadeIn ease-in .4s;
        animation-fill-mode: forwards;
    }

    .sections-sizing {
        width: auto;
        height: 100%;
    }

    .overall-box {
        border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);
    }

    .type-bar {
        margin: 10px 0 10px 0;
    }

    footer {
        position: initial;
    }
}

/* ******************* */
/* Animation Keyframes */
/* ******************* */

/* Slide up and fade in effect
Smooth linear fade transition from invisiable to opaque, 
slides up quick but slows down towards the end */
@keyframes slideUpAndFade {
    0% {
        opacity: 0%;
        bottom: -20px;
    }
    90% {
        bottom: -1px;
    }
    100% {
        opacity: 100%;
        bottom: 0;
    }
}

/* Simple linear fade in effect */
@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }  
}
