/* *************/
/* Font Import */
/* *************/

@font-face {
    font-family: Haken-Grotesk;
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}

@font-face {
    font-family: Haken-Grotesk;
    font-weight: bold;
    src: url('assets/fonts/static/HankenGrotesk-Bold.ttf');
}

@font-face {
    font-family: Haken-Grotesk;
    font-weight: bolder;
    src: url('assets/fonts/static/HankenGrotesk-ExtraBold.ttf');
}

@font-face {
    font-family: Haken-Grotesk;
    font-weight: normal;
    src: url('assets/fonts/static/HankenGrotesk-Medium.ttf');
}

/* ******************* */
/* HSL Color Variables */
/* ******************* */

:root {
    /* Primary */
    --light_red: hsl(0, 100%, 67%);
    --orangey_yellow: hsl(39, 100%, 56%);
    --green_teal: hsl(166, 100%, 37%);
    --cobalt_blue: hsl(234, 85%, 45%);

    /* Transparancies for Primaries */
    --light_red_a: hsla(0, 100%, 67%, 7%);
    --orangey_yellow_a: hsla(39, 100%, 56%, 7%);
    --green_teal_a: hsla(166, 100%, 37%, 7%);
    --cobalt_blue_a: hsla(234, 85%, 45%, 7%);

    /* Gradients */
    --light_slate_blue_bg: hsl(252, 100%, 67%);
    --light_royal_blue_bg: hsl(241, 81%, 54%);
    --violet_blue_circle: hsla(256, 72%, 46%, 1);
    --persian_blue_circle: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --pale_blue: hsl(221, 100%, 96%);
    --light_lavender: hsl(241, 100%, 89%);
    --light_gray: hsl(212, 45%, 89%);
    --dark_gray_blue: hsl(224, 30%, 27%);
}

/* ******** */
/* Reseters */
/* ******** */

/* body, div, h1, h2, h3, p {
    padding: 0;
    margin: 0;
} */

/* *********** */
/* Text Styles */
/* *********** */

.bold {
    font-weight: bold;
}

.light-lavender {
    color: var(--light_lavender);
}

.white {
    color: var(--white);
}

.black {
    color: var(--black);
}

.black-a{
    color: hsla(0, 0%, 0%, .4);
}

body {
    background-color: var(--white);
    font-family: Haken-Grotesk;
    font-size: 18px;

    min-height: 98vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.sections-sizing {
    width: 50%;
    padding: 18px 40px 18px 40px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

.results-box {
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--white);
    width: 100%;
    max-width: 735px;
    height: 512px;
    box-shadow: 0px 8px 25px 10px var(--pale_blue);
    border-radius: 25px;
    
}

.overall-box {
    background-image: linear-gradient(var(--light_slate_blue_bg), var(--light_royal_blue_bg));
    border-radius: 25px;
    text-align: center;
}

.overall-circle {
    padding: 30px;
    width: 150px;
    height: 150px;
    background-image: linear-gradient(var(--violet_blue_circle), var(--persian_blue_circle));
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
}

.results-text {
    margin: 0 20px 20px 20px;    
}

.summary-box {
    align-items: start;
}

.type-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width: 100%;
}

.type-label {
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
}

.type-label img {
    margin: 15px;
}

.type-result {
    margin-right: 15px;
}

.reaction {
    color: var(--light_red);
    background-color: var(--light_red_a);
}

.memory {
    color: var(--orangey_yellow);
    background-color: var(--orangey_yellow_a);
}

.verbal {
    color: var(--green_teal);
    background-color: var(--green_teal_a);
}

.visual {
    color: var(--cobalt_blue);
    background-color: var(--cobalt_blue_a);
}

.total-big {
    font-size: 70px;
    font-weight: bold;
    color: var(--white);
    margin: 0px;
}

.total-small {
    position: relative;
    bottom: 10px;
    color: var(--light_lavender);
    opacity: 50%;
    margin: 0px;
}

.continue-button {
    margin: 25px 0 2px 0;
    height: 55px;
    margin: 10px 0 10px 0;
    text-align: center;
    width: 100%;
    border-radius: 30px;
    background-color: var(--dark_gray_blue);
    cursor: pointer;
}

.continue-button:active {
    background-image: linear-gradient(var(--light_slate_blue_bg), var(--light_royal_blue_bg));
}


footer {
    text-align: center;
    position: fixed;
    bottom: 5px;   
}

.attribution {
    width: 100%;
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
